.center-col{
    box-shadow: 0px 0px 8px rgba(124,124,124,0.8);
    margin: 0 20px;
    height: 100vh;
    width: 600px;
    overflow-y: scroll
}

.dash-main{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.left-side-bar, .right-side-bar {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin-top: 10px;
    min-width: 100px;
    padding: 10px;
}

.hide-friends-list {
  display: none;
  margin-top: 20 px;
}

.friends-list {
  position: absolute;
  background: white;
  box-shadow: 0 2px 5px #888;
  left: 0;
  right: 0;
  top: 30px;
  width: 200px;
  margin-top: 10px;
}

.friends-list li {
  padding: 5px 20px;
}

.friends-list li:hover {
  background-color: #ddd;
  cursor: pointer;
}

.splits-with-form {
    position: relative;
}