.center-col{
    box-shadow: 0px 0px 8px rgba(124,124,124,0.8);
    margin: 0 20px;
    height: 100vh;
    width: 600px;
}

.dash-main{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.left-side-bar, .right-side-bar {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin-top: 10px;
    min-width: 100px;
}

.center-col li{
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    padding: 20px 10px;
    display: flex;
    align-items: center;
}

.center-col li div{
    width: 80px;
}