.login-signup{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background-color: #eaeaea;
}

.login-signup div {
    display: flex;
    font-size: 20px;
}

.login-signup img {
    height: 20px;
}

.login-signup h1 {
    display: block;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-left: 5px;
}

a.login {
    font-family: 'Montserrat';
    color: #1ddab1;
    align-content: center;
    padding-top: 10px;
    font-weight: bold;
}

a.signup {
    font-family: Montserrat;
    color: white;
    background-color: #1ddab1;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px #757474;
    margin-left: 20px;
}

.header-button{
    font-family: Montserrat;
    color: white;
    background-color: #1ddab1;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px #757474;
    margin-left: 20px;
}

.demo{
    font-family: Montserrat;
    color: white;
    background-color: #1ddab1;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px #757474;
    margin-left: 20px;
}