
.session-form .login-signup img {
    height: 30px;
}

.login-signup > div{
    margin-top: 5px;
}
.session-form .login-signup{
    width: auto;
    background-color: #11bb96;
    padding: 0px 40px;
    height: 40px;
    align-items: flex-start;
}

.session-form .login-signup a.signup {
    font-family: 'Roboto';
    color: white;
    background-color: #f86b0ee7;
    padding: 8px 9px;
    border-radius: 5px;
    box-shadow: 0px 2px #757474;
    margin-left: 20px;
    font-size: 12px;
}


.session-form .login-signup a.login {
    font-family: 'Roboto';
    color: white;
    background-color: #16d4ab;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0px 2px #757474;
    margin-left: 20px;
    font-size: 12px;
}

.session-form .login-signup h1{
    margin-top: 2px;
}

.log-form-page {
    display: flex;
    margin-top: 50px;
    width: 700px;
    margin: auto;
}
.log-form-page img{
    display: none;
}
@media (min-width: 750px){
    .log-form-page img{
        display: inline-block;
        width: 200px;
        margin-top: 100px;
        margin-left: 100px;
        margin-bottom: 100px;
    }
    
}

.log-form-page P{
    color:gray;
}

.session-form form{
    margin-top: 70px;
    margin-left: calc(100% - 650px);
}

form h2{
    font-size: 20px;
    margin-bottom: 15px;
    color: slategray;
}

form label{
    font-size: 20px;
}

form input{
    border: 1px solid #747171;
    border-radius: 3px;
    padding: 3px 0px 10px 10px;
    margin: 5px 1px 3px 0px;
    width: 220px;
}
form textarea{
    border: 1px solid #747171;
    border-radius: 3px;
    padding: 3px 0px 10px 10px;
    margin: 5px 1px 3px 0px;
    width: 220px;
}
form button{
    background-color: #f86b0ee7;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #f8741cee;
    font-size: 20px;
    border-style: outset;
}