.main-page{
    background-image: url('background.jpg');
    background-size: 700px;
    display: block;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.main-page img{
    margin-top: 100px;
    height: 400px;
    display: none;
}

@media (min-width: 1000px){
.main-page img{
        display: inline-block;
        width: 640px;
        margin-top: 100px;
    }
}

.descrition1{
    font-family: 'Roboto';
    display: inline-block;
    position: absolute;
    width: 400px;
    top: 200px;
    /* left: 100px; */
    font-size: 50px;
    font-weight: bold;
}

.descrition2{
    font-family: 'Roboto';
    display: inline-block;
    position: absolute;
    top: 450px;
    /* left: 100px; */
    font-size: 20px;
    width: 400px;
}

.index{
    background-color: #f0f8f9;
}

